{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="/styles/rocket.css">
{% endblock %}

{% block content %}

<div class="content">
    <div class="header">
        <a href="https://rocketseat.com.br/" target="_blank"><img src="https://scontent.fmao1-1.fna.fbcdn.net/v/t1.0-9/104169738_687672685112542_1468337677738709328_n.png?_nc_cat=108&_nc_sid=09cbfe&_nc_ohc=HdUkCRfuhqAAX_bySRJ&_nc_ht=scontent.fmao1-1.fna&oh=84ccfb41896a2c4ad1a87da4b4a55aa3&oe=5F185873" alt="Rocketseat"></a>
        <h1>Rocketseat</h1>
    </div>
    <p>Mais do que uma plataforma de educação em tecnologia, somos uma comunidade incrível de programadores em busca do próximo nível e que te leve na direção certa.</p>
    <h3>Principais Tecnologias:</h3>
    <ul>
        <li>JavaScript</li>
        <li>NodeJS</li>
        <li>ReactJS</li>
        <li>React Native</li>
    </ul>
</div>

{% endblock %}


