{% extends "layout.njk" %}

{% block head %}
    <title>Rocketseat - Nome Curso</title>

    <link rel="stylesheet" href="/styles/courses.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}   
    <div class="container-body">

        <div>
            <h1>Curso</h1>
        </div>

         <div class="card-course" id="{{ module.id }}">
                <img src="{{ module.imagem }}" alt="Imagem do {{ module.id }}">
                <div class="card-info">
                    <p>{{ module.duration }}</p>
                    <p>{{ module.description }}</p>
                </div>
                <a href="{{ module.link }}">Mais informações.</a>
            </div>      

    </div>
        
{% endblock %}