{% extends "layout.njk" %}

{% block head %}
    <title>Rocketseat - Cursos</title>

    <link rel="stylesheet" href="/styles/courses.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="/scripts.js" defer></script>
{% endblock %}

{% block content %}   
        <div class="container-body">
       
        <div>
            <h1>Conteúdos</h1>
        </div>

        <section class="cards">

            <div class="card" id="starter">
                <img src="https://app.rocketseat.com.br/static/media/Starter.64c237cc.svg" alt="icon">
                <h2>Starter</h2>
                <div class="card-info">
                    <p>Módulos: 5</p>
                    <p>Free</p>
                </div>
            </div>
            <div class="card" id="launchbase">
                <img src="https://app.rocketseat.com.br/static/media/LaunchBase.08285320.svg" alt="icon">
                <h2>Launchbase</h2>
                <div class="card-info">
                    <p>Módulos: 8</p>
                    <p>Garanta sua vaga!</p>
                </div>
            </div>
            <div class="card" id="gostack">
                <img src="https://app.rocketseat.com.br/static/media/GoStack.83a178a0.svg" alt="icon">    
                <h2>GoStack</h2>
                <div class="card-info">
                    <p>Módulos: 12</p>
                    <p>Garanta sua vaga!</p>
                </div>
            </div>

        </section>       
        
        <div class="modal-overlay">
            <div class="modal">
                <a class="maximize-modal">
                    <span class="material-icons">maximize</span>
                </a>
                <a class="close-modal">
                    <span class="material-icons">close</span>
                </a>
                <div class="modal-content">
                    <iframe src="" frameborder="0"></iframe>
                </div>
            </div>
        </div>

{% endblock %}