<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Rocketseat</title>
    <link rel="stylesheet" href="/styles/rocket.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="icon" href="/imagens/favicon.ico.png">
</head>
<body>
    <header>
        <div class="logo">
            <a href="index.html"><img src="/imagens/logo-rocket.svg" alt="logo-rocket"></a>
        </div>
        <div class="links">
            <a href="https://discordapp.com/invite/gCRAFhc">Comunidade</a>
            <a href= "mailto:oi@rocketseat.com.br">Email</a>
            <a href="tel:+5547992078767">Telefone</a>
            <a href="contents.html">Conteúdos</a>
            <a href="instructor.html">Instrutor</a>
        </div>
        <div class="perfil">
            <a href="profile.html"><img src="https://avatars2.githubusercontent.com/u/62651527?s=460&u=88f5d7501ea4e07aad56e509bcfe886288dba427&v=4" alt="student"></a>
        </div>
    </header>

     <div class="content">
        <div class="header">
            <a href="https://rocketseat.com.br/" target="_blank"><img src="https://scontent.fmao1-1.fna.fbcdn.net/v/t1.0-9/104169738_687672685112542_1468337677738709328_n.png?_nc_cat=108&_nc_sid=09cbfe&_nc_ohc=HdUkCRfuhqAAX_bySRJ&_nc_ht=scontent.fmao1-1.fna&oh=84ccfb41896a2c4ad1a87da4b4a55aa3&oe=5F185873" alt="Rocketseat"></a>
            <h1>Rocketseat</h1>
        </div>
        <p>Mais do que uma plataforma de educação em tecnologia, somos uma comunidade incrível de programadores em busca do próximo nível e que te leve na direção certa.</p>
        <h3>Principais Tecnologias:</h3>
        <ul>
            <li>JavaScript</li>
            <li>NodeJS</li>
            <li>ReactJS</li>
            <li>React Native</li>
        </ul>
    </div>

    <footer>
        <div id="links-footer" class="links">
            <a href="https://github.com/Rocketseat" target="_blank">Github</a>
            <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank">Instagram </a>
            <a href="https://www.facebook.com/rocketseat" target="_blank">Facebook</a>
        </div>
    </footer>
</body>
</html>