{% extends "layout.njk" %}

{% block head %}
        <title>Rocketseat - Instrutor</title>
{% endblock %}

{% block content %}   
        <div id="wrapper">
            <img src="{{ teacher.url }}" alt="Imagem de {{ teacher.name }}">
            <h1>{{ teacher.name }}</h1>
            <h2>{{ teacher.role }}</h2>
            <p>{{ teacher.description }}</p>
        </div>
{% endblock %}
