{% extends "layout.njk" %}

{% block head %}{% endblock %}


{% block content %}   

<div class="content-error">
    <h2>Erro 404</h2>
    <p>Página não encontrada.</p>
    <img src="/imagens/error404.png" alt="error404">
</div>

{% endblock %}}