{% extends "layout.njk" %}

{% block head %}
        <title>Rocketseat - Profile</title>
{% endblock %}

{% block content %}   
        <div id="wrapper">
            <img src="{{ avatar.url }}" alt="Imagem de {{ avatar.name }}">
            <h1>{{ avatar.name }}</h1>
            <h2>{{ avatar.role }}</h2>
            <p>{{ avatar.description }}</p>
        </div>
{% endblock %}
     