<!DOCTYPE html>
<html>
    <head>
        <title>Rodrigo Barbosa</title>
        <link rel="stylesheet" href="/styles/main.css">
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="index.html"><img src="/imagens/logo-rocket.svg" alt="logo-rocket"></a>
            </div>
            <div class="links">
                <a href="https://discordapp.com/invite/gCRAFhc">Comunidade</a>
                <a href= "mailto:oi@rocketseat.com.br">Email</a>
                <a href="tel:+5547992078767">Telefone</a>
                <a href="contents.html">Conteúdos</a>
                <a href="instructor.html">Instrutor</a>
            </div>
            <div class="perfil">
                <a href="profile.html"><img src="https://avatars2.githubusercontent.com/u/62651527?s=460&u=88f5d7501ea4e07aad56e509bcfe886288dba427&v=4" alt="student"></a>
            </div>
        </header>

        <div id="wrapper">
            <img src="https://avatars2.githubusercontent.com/u/62651527?s=460&u=88f5d7501ea4e07aad56e509bcfe886288dba427&v=4" alt="Aluno">
            <h1>Rodrigo Barbosa</h1>
            <h2>Aluno - Rocketseat Launchbase</h2>
            <p>Estudante Front-End, focado em aprender todo o conteúdo ministrado no bootcamp da Rocketseat e se tornar um profissional altamente qualificado.</p>
        </div>
        
        <footer>
            <div id="links-footer" class="links">
                <a href="https://github.com/rodrigoabam" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/rodrigo-barbosa-474ab9187/" target="_blank">Linkedin</a>
            </div>
        </footer>
    </body>
</html>