.container-body{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cards {
    max-width: 80%;

    margin: 0 auto 38px; 

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    padding: 14px;
    height: 400px;

    background-color: #20212b; 

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    cursor: pointer;

    border: 1px solid black;
    border-radius: 8px;
    transition: border 700ms;
}

.card {
    animation: move 600ms;
    animation-delay: 300ms;
    animation-fill-mode: backwards;
}

.card:hover:nth-child(1) {
    border: 1px solid #7159C1;
}

.card:hover:nth-child(2) {
    border: 1px solid #FD951F;
}

.card:hover:nth-child(3) {
    border: 1px solid #23D975;
}

.card img {
    margin: 14px;
}

.card h2 {
    margin: 8px;
}

.card p {
    margin-bottom: 6px;
    text-align: center;
}

@keyframes move {
    from {
        opacity: 0;
        transform: translatey(+45%);
    } to {
        opacity: 1;
        transform: translateX(0%);
    }
}

/* COURSE */

.card-course {
    padding: 14px;
    height: 400px;
    width: 400px;

    margin: 0 auto 38px; 

    background-color: #20212b; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    border-radius: 8px;
}

.card-course {
    animation: move 600ms;
    animation-delay: 300ms;
    animation-fill-mode: backwards;
}

.card-course img {
    margin: 14px;
}

.card-course p {
    margin: 12px;
    text-align: center;
}

.card-course a {
    padding: 14px;
    border-radius: 6px;
}

#Starter.card-course a {
    background-color: #7159C1;
}

#LaunchBase.card-course a {
    background-color: #FD951F;
}

#GoStack.card-course a {
    background-color: #50fa7b;
}

#Starter.card-course {
    border: 2px solid #7159C1;
}

#LaunchBase.card-course {
    border: 2px solid #FD951F;
}

#GoStack.card-course {
    border: 2px solid #23D975;
}